 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">B.Tech in Computer Science and Engineering</h4>
    <h5 class="meta">Tezpur University </h5>
    <div class="time"><i>2011 - 2015</i></div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Higher Secondary Education</h4>
    <h5 class="meta">Maharishi Vidya Mandir </h5>
    <div class="time"><i>2008 - 2010</i></div>
</div><!--//item-->

</div><!--//education-container-->
