<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Employment</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Developer, CISCO (Storage Automation and Support)</h3>
                            <div class="time">August 2017 - Current</div>
                        </div><!--//upper-row-->
                        <div class="company">Tata Consultancy Services, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Storage related automation and testing using python and mock</li>
                        <li>Working on scripts to filter information regarding file systems based on various parameters.</li>
                        <li>Working in design and development of Storage tools page, a Flask-Python application, with the use of AngularJS.</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Developer (SSC Tools)</h3>
                            <div class="time">October 2016 - April 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Tata Consultancy Services, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Worked in close collaboration with both the SSC Team offshore and onsite to gather requirements.</li>
                        <li>Responsible for design, development and deployment of tools for the SSC Team.</li>
                        <li>Responsible for the maintenance of the multiple tools used by the SSC Team.</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UI tester and debugger (Apple Internal)</h3>
                            <div class="time">Nov 2016 - April 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Tata Consultancy Services, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Responsible for Testing and debugging of Apple Internal Tool migration in Oracle Apex 5.</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">LINUX Admin, APPLE Inc. (iTunes) </h3>
                            <div class="time">October 2015 – October 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Tata Consultancy Services, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                    <ul>
                        <li>To provide support in both hardware and software level for the applications that are deployed in the environment for the stable operations of iTunes, Gamecenter and Facetime through the internal ticketing tool Espresso</li>
                        <li>Performing initial investigation and resolution on third party provided storage systems and coordinating with the vendors for advanced support or replacements. </li>
                        <li>Monitoring and resolving any issues related with the mounts that are provided over networks from Network Attached Storage systems </li>
                        <li>Resolving access related issues from remote servers using ACL </li>
                        <li>Deploying common server configuration across all the servers in the network. </li>
                        <li>Installing/configuring Operating Systems and various applications on it to make the server production ready </li>
                        <li>Installation of patches and kernel modules on various production and database boxes. </li>
                    </ul>
                  </div><!--//details-->
                </div><!--//item-->

            </section><!--//section -->
